*.RData
*.Rhistory
data/exdata-data-household_power_consumption.zip
data/household_power_consumption.txt
data/subset_data.csv
*.Rproj
.Rproj.user/CB992C6D/vcs_options
.Rproj.user/CB992C6D/sdb/prop/INDEX
.Rproj.user/CB992C6D/sdb/prop/D85B19A8
.Rproj.user/CB992C6D/sdb/prop/B311454E
.Rproj.user/CB992C6D/sdb/prop/AAF85057
.Rproj.user/CB992C6D/sdb/prop/6978B3FF
.Rproj.user/CB992C6D/sdb/prop/A56994F5
.Rproj.user/CB992C6D/sdb/prop/4E71A211
.Rproj.user/CB992C6D/sdb/per/t/C9FCC625
.Rproj.user/CB992C6D/sdb/per/t/7F4CC8D1
.Rproj.user/CB992C6D/sdb/per/t/29ACEF17
.Rproj.user/CB992C6D/sdb/per/t/1E4D032D
.Rproj.user/CB992C6D/pcs/workbench-pane.pper
.Rproj.user/CB992C6D/pcs/windowlayoutstate.pper
.Rproj.user/CB992C6D/pcs/source-pane.pper
.Rproj.user/CB992C6D/pcs/files-pane.pper
.Rproj.user/CB992C6D/sdb/per/t/EC2C4E8D
.Rproj.user/CB992C6D/pcs/debug-breakpoints.pper
.Rproj.user/CB992C6D/build_options
allPlot.R
prepareData.R